* {
  padding: 0;
  margin: 0;
  border: 0;
  /* font-family: "Noto Serif Ahom", serif; */
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none !important;
}

#wrapContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 765px;
}

/*  

Search Form CSS Begins

*/

#auto-detect {
  margin-left: 20px;
}

#mainHeading {
  font-size: 40px;
  font-family: "Noto Serif Ahom", serif;
}

#labelDistance,
#labelCategory,
#labelLocation,
#labelKeyword,
#labelAuto,
#auto-detect {
  margin-bottom: 7px;
}

#labelAuto {
  margin-bottom: 10px;
}

#labelAuto,
#auto-detect {
  margin-bottom: 9px;
}

span {
  color: red;
}

#container-1 {
  display: grid;
  grid-template-rows: 12% 3% 85%;
  height: 375px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 30px;
  border-radius: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.116);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#searchButton {
  border-radius: 7px;
  background-color: rgba(231, 126, 5, 0.89);
  color: white;
  font-size: 20px;

  height: 50px;
  width: 120px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #f3841de0;
  border: none;
  box-shadow: 0 3px #f3841dbb;
  opacity: 1;
  transition: 0.2s;
}

label,
input,
select,
option {
  font-family: "Roboto", sans-serif;
  text-align: left;
}
label {
  color: rgb(137, 181, 231);
}

input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.651);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
  padding-left: 7px;
}

#distance {
  margin-right: 100px;
}

select {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.651);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 15px;
  padding-left: 9px;
}
select option {
  font-size: 15px;
}

select > option {
  height: 20px;
}

option {
  color: black;
  height: 60px;
  background: transparent;
}

#clearButton {
  border-radius: 7px;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 120px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: rgba(74, 147, 231, 0.664);
  border: none;
  box-shadow: 0 3px #1d4b8091;
  margin-left: 5px;
}

hr {
  border: 0;
  clear: both;
  display: block;

  background-color: white;
  height: 1px;
}

#sub-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sub-container2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
}

#row-1 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#row-2 {
  display: grid;

  grid-template-columns: 50% 50%;

  align-items: center;
}

.distance,
.category {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.distance {
  margin-right: 30px;
}

#row-3 {
  display: flex;
  flex-direction: column;
}

#row-4 {
  display: flex;
  column-gap: 5px;

  align-items: center;
}

#keyword,
#distance,
#category,
#location {
  height: 30px;
}

#searchButton:hover,
#clearButton:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

/*  

Search Form CSS Ends-----------

*/

/*  

Table CSS Begins

*/

table {
  table-layout: fixed;
}
table td {
  overflow: hidden;
} /*Hide text outside the cell.*/
#date {
  width: 180px;
  height: 60px;
} /*Setting the width of column 1.*/
#logo {
  width: 160px;
  height: 60px;
} /*Setting the width of column 2.*/
#event {
  width: 510px;
  height: 60px;
} /*Setting the width of column 3.*/
#genre {
  width: 100px;
  height: 60px;
}
#venue {
  width: 250px;
  height: 60px;
}
#logoImg {
  width: 100px;
  height: 55px;
}

.nothing {
  display: flex;
  background-color: white;
  color: red;
  /* text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center; */
  justify-content: center;
  align-items: center;
  height: 50px;
}

table {
  background-color: white;
  color: black;
  /* align-self: center; */

  table-layout: fixed;
}

table th:nth-child(3) {
  cursor: pointer;
}

table th:nth-child(4) {
  cursor: pointer;
}

table th:nth-child(5) {
  cursor: pointer;
}

.selectable > p:hover {
  cursor: pointer;
  color: rgb(137, 181, 231);
}

td,
th {
  padding: 8px;
  text-align: center;
}

th {
  box-shadow: 0px 3px 0px rgba(41, 39, 39, 0.24);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.container-2 {
  display: grid;
  margin-top: 50px;
  width: 1200px;
  /* border: 1px solid blue */
}

/*  

Table CSS Ends-----------

*/

/*  

SeatMap CSS Begins

*/

.container-3 {
  display: grid;
  width: 1000px;
  height: 650px;
  grid-template-rows: 90% 10%;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  margin-top: 50px;
}

#nameOfConcert {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 20px;
}

.helperFor {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-rows: 10% 90%;
}

#detailsOfConcert {
  display: grid;
  grid-template-columns: 40% 60%;
}

#concertDetails {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;

  gap: 20px;
  margin-top: 60px;
  padding-bottom: 10px;
}

#seatLayout {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  object-fit: cover;
}

#seatLayout > img {
  width: 500px;
  height: 430px;
}

#showVenueButton {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

#showVenueButton > div {
  width: 20px;
  height: 25px;
  /* margin: 50px; */
  background-color: transparent;
  border-bottom: 1px solid white;
  border-right: 1px solid white;

  transform: rotate(45deg);
  padding: 10px;
  display: inline-block;
}

#showVenueButton > div:hover {
  cursor: pointer;
  /* outline: 1px solid white;
  transition: .1s linear; */
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

#showVenueButton > button {
  width: 100%;
  font-weight: lighter;
  font-size: 30px;
  margin-top: 30px;
  color: white;
  background-color: transparent;
}

#orange {
  background-color: orange;
  align-self: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

#black {
  background-color: black;
  align-self: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

#green {
  background-color: green;
  align-self: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

#red {
  background-color: red;
  align-self: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

#artistLink,
#bookingLink {
  color: rgb(137, 181, 231);
  align-self: center;
  text-align: center;
  align-items: center;
}

/*  

SeatMap CSS Ends-----------

*/

/*  

EventDeatails CSS Begins

*/

.change1 {
  display: grid;
  background-color: white;
  /* margin-top: 10px; */
  border-radius: 20px;
  width: 950px;
  padding: 20px;
  height: 220px;
  margin-bottom: 30px;
}

.change2 {
  display: grid;
  grid-template-rows: 40% 60%;
}

.container-4 {
  display: grid;
  background-color: white;
  /* margin-top: 10px; */
  border-radius: 20px;
  width: 950px;
  padding: 20px;
  height: 325px;
  margin-bottom: 30px;
}

#wrapperBorder {
  display: grid;
  /* grid-template-rows: 20% 30% 50%; */
}

.wrapperBorder {
  border: 1px solid black;
  border-radius: 20px;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* margin-left: 10px; */
  /* margin-bottom: 30px; */
}

#top > div > hr {
  border: 0;
  clear: both;
  display: block;
  background-color: black;
  height: 1px;
}

#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
}

#bottom {
  display: grid;
  grid-template-columns: 49% 2% 49%;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

#left > div > a {
  margin-right: 35px;
}

#right {
  display: flex;
  justify-content: flex-start;

  margin-left: 100px;
  margin-top: 20px;
}

.verticalLine {
  border-left: 1px solid black;
  margin-bottom: 25px;
  margin-left: 8px;
  height: 110px;
  margin-top: 20px;
}

#googleMaps,
#upcomingEvent {
  color: rgba(22, 127, 175, 0.719);
}

#venueLOGO {
  max-height: 90px;
}

/*  

EventDetails CSS Ends-----------

*/
