* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.parent {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 765px;
}

.parentHome {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 765px;
}

.main-container {
  display: grid;
  height: 1151px;
  grid-template-rows: 18% 5% 65% 12%;

  width:1163px;

}

.container1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 50px;
  margin-bottom: 29px;
 margin-left: 22.1%;
  margin-right: 22.1%;

}

a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

#page1,#page2,#n1 {
  margin-right: 24px;
}

nav a:hover {
  color:black;
}

#navigation nav a:hover,
body.final a.final,
body.final2 a.final2 {
  color: black;
}

#navigation nav a:hover,
body.final a.final a,
body.final2 a.final2 {
  color: black;
}



.bigName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

#theName {
  font-size: 56px;
  font-weight: 500;
  align-items: flex-end;
}

.currentPageName {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  justify-content: flex-end;
  margin-left: 18%;
  margin-right: 18%;
}

.currentPageName > h2 {
  font-weight: normal;
  font-size: 30px;
}

nav {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  flex-wrap: nowrap;

}
.container2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 7px;
  column-gap: 7px;
  margin-left: 18%;
  margin-right: 18%;
}

.container3 {
  display: grid;
  grid-template-rows: 50% 50%;
}

.footer1,
.footer2 {
  justify-content: center;
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.footer2 {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;

  
}

.footer1 > h6 {
  font-weight: lighter;
  font-size: 9px;
  text-decoration: none;
  color: #2C2D2D;
}

.icons {
  display: grid;
  width: 112px;
  height: 18px;
  grid-template-columns: 1fr 1fr 1fr;
}

#icon1 {
  background: url("https://csci571.com/hw/hw3/images/facebook.png") center
    no-repeat;
  background-size: contain;
}

#icon2 {
  background: url("https://csci571.com/hw/hw3/images/twitter.png") center
    no-repeat;
  background-size: contain;
}

#icon3 {
  background: url("https://csci571.com/hw/hw3/images/instagram.png") center
    no-repeat;
  background-size: contain;
}

#pic1 {
  background: url("https://csci571.com/hw/hw3/images/pier.jpg") center;
  background-size: cover;
}

#pic2 {
  background: url("https://csci571.com/hw/hw3/images/road.jpg") center;
  background-size: cover;
}

#pic3 {
  background: url("https://csci571.com/hw/hw3/images/lake.jpg") center;
  background-size: cover;
}

#pic4 {
  background: url("https://csci571.com/hw/hw3/images/mountain.jpg") center;
  background-size: cover;
}

#pic5 {
  background: url("https://csci571.com/hw/hw3/images/koalas.jpg") center;
  background-size: cover;
}

#pic6 {
  background: url("https://csci571.com/hw/hw3/images/horses.jpg") center;
  background-size: cover;
}

#pic7 {
  background: url("https://csci571.com/hw/hw3/images/geko.jpg") center;
  background-size: cover;
}

#pic8 {
  background: url("https://csci571.com/hw/hw3/images/shark.jpg") center;
  background-size: cover;
}


/* css from the other file */

.main-containerHome {
  display: grid;
  height: 1143px;
  grid-template-rows: 23% 65% 12%;
  width: 1152px;
}

.container1Home {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 7.35%;
  margin-left: 21.81%;
  margin-right: 21.81%;

}

.container2Home {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 7px;
  column-gap: 7px;
  padding-left: 17.7%;
  padding-right: 17.7%;
  margin-top:2px;
  margin-bottom: 2px;
}

.footer1Home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18.5px;
}

.footer1Home > h6 {
  font-weight: lighter;
  font-size: 9px;
  text-decoration: none;
  color: #2C2D2D;
}

.iconsHome {
  display: grid;
  width: 111.5px;
  height: 17.5px;
  grid-template-columns: 1fr 1fr 1fr;
}
